name: Run Terraform Apply

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: "Type YES to run"
        required: true

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-west-2
  
jobs:
  terraform-apply:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: infra

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Check confirmation
        run: |
          if [ "${{ inputs.confirm }}" != "YES" ]; then
            echo "Not running the workflow"
            exit 1
          fi

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: "arn:aws:iam::407933037834:role/gha-terraform"
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform init
        run: terraform init

      - name: Terraform apply
        run: terraform apply -auto-approve

      - name: Run a Health Check
        run: curl -f https://tm.zakariyediriye.com/health.json
