name: Run Terraform Apply

on:
  workflow_dispatch:
    inputs:
      run_apply:
        description: "Do you want to run the Terraform apply workflow?"
        required: true
        default: "no"
        type: choice
        options:
          - "yes"
          - "no"

env:
  AWS_REGION: eu-west-2
  
jobs:
  terraform-apply:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: infra

    steps:
      - name: Check confirmation
        run: |
          if [ "${{ github.event.inputs.run_apply }}" != "yes" ]; then
            echo "Not running the Terraform apply workflow"
            exit 1
          fi

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform init
        run: terraform init

      - name: Terraform apply
        run: terraform apply -auto-approve
