name: Run Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      run_destroy:
        description: "Do you want to run the Terraform destroy workflow?"
        required: true
        default: "no"
        type: choice
        options:
          - "yes"
          - "no"

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-west-2
  
jobs:
  terraform-destroy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: infra

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check confirmation
        run: |
          if [ "${{ inputs.run_destroy }}" != "yes" ]; then
            echo "Not running the Terraform destroy workflow"
            exit 1
          fi
          
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: "arn:aws:iam::407933037834:role/gha-terraform"
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform init
        run: terraform init

      - name: Terraform destroy
        id: destroy
        run: terraform destroy -auto-approve 
