name: Run Terraform Plan

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: "Type YES to run"
        required: true

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-west-2
  
jobs:
  terraform-plan:
    if: (github.event_name == 'workflow_dispatch' && github.event.inputs.confirm == 'YES')
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: infra

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.1

      - name: Set up TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: "arn:aws:iam::407933037834:role/gha-terraform"
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform fmt check
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init 

      - name: Terraform validate
        run: terraform validate

      - name: TFLint
        run: tflint --recursive

      - name: Terraform plan
        run: terraform plan
