name: Run Terraform Plan

on:
  push:
    branches: ["main"]
    paths:
      - "infra/**"
      - ".github/workflows/tf-plan.yml"
  workflow_dispatch: {}

env:
  AWS_REGION: eu-west-2
  
jobs:
  terraform-plan:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: infra

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.1

      - name: Set up TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform fmt check
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init 

      - name: Terraform validate
        run: terraform validate

      - name: TFLint
        run: tflint --recursive

      - name: Terraform plan
        id: plan
        run: terraform plan -no-color
        
